body {  /* This is the main CSS file, other stylesheets are used by login panel */
    background-image: url('../images/bgr.jpg'); /* Background image (might need changing) */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} 